<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="PATCH"
      th:action="@{/users/{id}(id=${user.getId()})}"
      th:object="${user}">
  <lable for="name"> Enter: name </lable>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

  <lable for="last_name"> last_name: </lable>
  <input type="text" th:field="*{lastName}" id="last_name"/>
  <div style="color:red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{lastName}">Lastname error</div>

  <lable for="email"> email: </lable>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>